@import "shipd-all";

// layout basics
img { display: block; }

html {
  background-color: $color-primary-alt;
}

header, footer {
  color: $color-primary-darkest;
}

header {
  font-family: $font-sans;
  line-height: 1;

  h1, h2, h3, h4, h5, h6, p {
    padding-bottom: 0;
  }

  .inner {
    padding: 0.5rem 1rem;
  }

  .spacer {
    width: 1.5rem;
    height: 1rem;
  }

  .usa-pride-banner {
    font-size: 14px;
    color: white;
    background-color: $color-cool-blue;

    img {
      padding-top: 3px;
    }
  }

  .site-title {
    a {
      line-height: 1;
      font-size: 1.5rem;
      font-weight: bold;
      color: $color-primary-darkest;

      &:hover {
        text-decoration: none;
      }
    }

    .site-description {
      line-height: 1.5rem;
    }
  }
}

footer {
  .our-logo {
    width: 33.333333%;
    max-width: 240px;
  }

  .tts-logo {
    width: 100%;
  }
}



.page {
  background-color: white;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

// -------

.flash {
  margin-bottom: 0.5rem;

  &.error {
    background-color: lighten($error, 40%);
    color: darken($error, 20%);

    .border {
      border-color: darken($error, 20%);
    }
  }

  &.notice {
    background-color: lighten($info, 50%);
    color: darken($info, 20%);

    .border {
      border-color: darken($info, 20%);
    }
  }
}
