$font-sans:   'Source Sans Pro', 'Trebuchet MS', 'Trebuchet', sans-serif;
$font-serif:  'Merriweather', 'Georgia', serif;

$headline-font: $font-serif;
$headline-2-font: $font-sans;
$body-font: $font-sans;
$button-font: $font-sans;

