/* This is the main CSS base class. Import it into HTML via:
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

/* form input fixes */
.line, .row, .last-unit {
  width: 100%;
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }

.unit {
  float: left; }

.unit-right {
  float: right; }

.size-1-1 {
  width: 100%; }

.size-1-2 {
  width: 50%; }

.size-1-3 {
  width: 33.33333%; }

.size-1-4 {
  width: 25%; }

.size-1-5 {
  width: 20%; }

.size-2-3 {
  width: 66.66666%; }

.size-2-5 {
  width: 40%; }

.size-3-4 {
  width: 75%; }

.size-3-5 {
  width: 60%; }

.size-4-5 {
  width: 80%; }

.last-unit {
  float: none;
  width: auto;
  _position: relative;
  _left: -3px;
  _margin-right: -3px; }

.inner {
  padding: 10px;
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }

.spacer {
  width: 10px;
  height: 10px; }

.m-hidden {
  display: none; }

.m-row {
  width: 100%;
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }

.right {
  float: right; }

body {
  color: #212121;
  font-family: "Source Sans Pro", "Trebuchet MS", "Trebuchet", sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  line-height: 1.6; }

h1, h2, h3, h4 {
  font-weight: bold;
  padding-bottom: 2px; }

p {
  padding-bottom: 15px; }

h1, h2, h3 {
  font-family: "Merriweather", "Georgia", serif; }

h4, h5, h6 {
  font-family: "Source Sans Pro", "Trebuchet MS", "Trebuchet", sans-serif; }

h1 {
  font-size: 34px;
  line-height: 1; }

h2 {
  font-size: 30px;
  line-height: 1.3; }

h3 {
  font-size: 26px;
  line-height: 1.4; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 19px;
  font-style: italic; }

h6 {
  font-size: 16px;
  line-height: 2; }

a {
  color: #0776d8;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

em {
  font-style: italic; }

b {
  font-weight: bold; }

hr {
  border: 0;
  background-color: lightgray;
  height: 1px; }

ul.bullet-list {
  list-style: disc;
  padding: 10px;
  margin: 10px; }
  ul.bullet-list li {
    padding: 5px 10px; }

.block {
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }

.hidden {
  display: none; }

.overflow {
  overflow: visible; }

.no-overflow, .no-scroll {
  overflow: hidden; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.inner-top {
  padding-top: 10px; }

.inner-bottom {
  padding-bottom: 10px; }

.inner-left {
  padding-left: 10px; }

.inner-right {
  padding-right: 10px; }

.no-padding {
  padding: 0; }

.pointer-cursor {
  cursor: pointer; }

.rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.circular {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.centered-content {
  text-align: center; }

.centerable {
  display: inline-block; }

.shadow-container {
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
  padding-right: 4px;
  padding-bottom: 4px; }

.shadow {
  -webkit-box-shadow: rgba(33, 33, 33, 0.7) 2px 2px 4px;
  -moz-box-shadow: rgba(33, 33, 33, 0.7) 2px 2px 4px;
  box-shadow: rgba(33, 33, 33, 0.7) 2px 2px 4px; }

.transparent {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0; }

.opaque {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1; }

.border {
  border: 1px solid lightgray; }

.border-left {
  border-left: 1px solid lightgray; }

.border-right {
  border-right: 1px solid lightgray; }

.border-top {
  border-top: 1px solid lightgray; }

.border-bottom {
  border-bottom: 1px solid lightgray; }

.no-border {
  border: none; }

.wrap {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word; }

.no-wrap {
  white-space: nowrap; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.small-text {
  font-size: 18px; }

.text-shadow {
  text-shadow: rgba(33, 33, 33, 0.7) 1px 1px 1px; }

.text-shadow-light {
  text-shadow: 1px 1px 0px #ffffff; }

.light-text {
  color: lightgray; }

.primary-text {
  color: #7dc0fb; }

.accent-text {
  color: #ffba1e; }

.accent-2-text {
  color: #43a978; }

.info-text {
  color: #0776d8; }

.info-2-text {
  color: #35845e; }

.warn-text {
  color: #b77f00; }

.error-text {
  color: #ff2a09; }

.background-light {
  background-color: #ffffff; }

.background-dark {
  background-color: #212121; }

.background-primary {
  background-color: #7dc0fb; }

.background-accent {
  background-color: #ffba1e; }

.background-accent-2 {
  background-color: #43a978; }

.background-info {
  background-color: #0776d8; }

.background-info-2 {
  background-color: #35845e; }

.background-warn {
  background-color: #b77f00; }

.background-error {
  background-color: #ff4022; }

.input-container {
  margin-top: 13px;
  margin-bottom: 10px;
  margin-right: 12px 2px;
  margin-left: 12px; }

.input,
input[type=text],
input[type=password],
input[type=email],
textarea {
  outline-style: none;
  resize: none;
  -webkit-appearance: none;
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
  margin-left: -12px;
  margin-top: -10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  -webkit-box-shadow: inset 0px 2px 2px lightgray;
  -moz-box-shadow: inset 0px 2px 2px lightgray;
  box-shadow: inset 0px 2px 2px lightgray;
  background-color: #ffffff;
  font-size: 20px;
  color: #212121;
  padding: 10px 12px; }
  .input:focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  textarea:focus {
    padding: 9px 11px;
    border: 2px solid #7dc0fb;
    -webkit-box-shadow: inset 0px 3px 3px lightgray;
    -moz-box-shadow: inset 0px 3px 3px lightgray;
    box-shadow: inset 0px 3px 3px lightgray; }

input[type=checkbox] {
  -webkit-appearance: checkbox; }

input[type=radio] {
  -webkit-appearance: radio; }

textarea {
  min-height: 100px; }

@-moz-document url-prefix() {
  textarea {
    font-family: "Source Sans Pro", "Trebuchet MS", "Trebuchet", sans-serif; } }

form .error-message {
  display: none; }

form .error .error-message {
  display: block;
  color: #ff2a09; }

form .error .file-input {
  border: 1px solid #ff4022; }

form .error input[type=text],
form .error input[type=password],
form .error input[type=email],
form .error textarea {
  border: 2px solid #ff4022;
  padding: 9px 11px; }
  form .error input[type=text]:focus,
  form .error input[type=password]:focus,
  form .error input[type=email]:focus,
  form .error textarea:focus {
    padding: 9px 11px;
    border: 2px solid #7dc0fb; }

button,
input[type=submit] {
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }

button,
input[type=submit],
a.button,
div.button,
label.button {
  outline-style: none;
  resize: none;
  -webkit-appearance: none;
  border: none;
  display: block;
  font-size: 20px;
  font-family: "Source Sans Pro", "Trebuchet MS", "Trebuchet", sans-serif;
  font-weight: bold;
  background-color: #7dc0fb;
  color: #212121;
  padding: 12px 30px;
  line-height: 1;
  letter-spacing: 1px;
  text-align: center;
  white-space: normal;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(33, 33, 33, 0.7) 2px 2px 4px;
  -moz-box-shadow: rgba(33, 33, 33, 0.7) 2px 2px 4px;
  box-shadow: rgba(33, 33, 33, 0.7) 2px 2px 4px;
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1; }
  button:hover,
  input[type=submit]:hover,
  a.button:hover,
  div.button:hover,
  label.button:hover {
    text-decoration: none;
    background-color: #96ccfc; }
  button:active,
  input[type=submit]:active,
  a.button:active,
  div.button:active,
  label.button:active {
    background-color: #64b4fa;
    -webkit-box-shadow: inset rgba(33, 33, 33, 0.7) 2px 2px 4px;
    -moz-box-shadow: inset rgba(33, 33, 33, 0.7) 2px 2px 4px;
    box-shadow: inset rgba(33, 33, 33, 0.7) 2px 2px 4px; }
  button.accent,
  input[type=submit].accent,
  a.button.accent,
  div.button.accent,
  label.button.accent {
    background-color: #ffba1e; }
    button.accent:hover,
    input[type=submit].accent:hover,
    a.button.accent:hover,
    div.button.accent:hover,
    label.button.accent:hover {
      background-color: #ffca51; }
    button.accent:active,
    input[type=submit].accent:active,
    a.button.accent:active,
    div.button.accent:active,
    label.button.accent:active {
      background-color: #eaa200; }
  button.accent-2,
  input[type=submit].accent-2,
  a.button.accent-2,
  div.button.accent-2,
  label.button.accent-2 {
    background-color: #43a978; }
    button.accent-2:hover,
    input[type=submit].accent-2:hover,
    a.button.accent-2:hover,
    div.button.accent-2:hover,
    label.button.accent-2:hover {
      background-color: #4db885; }
    button.accent-2:active,
    input[type=submit].accent-2:active,
    a.button.accent-2:active,
    div.button.accent-2:active,
    label.button.accent-2:active {
      background-color: #3c976b; }
  button.neutral,
  input[type=submit].neutral,
  a.button.neutral,
  div.button.neutral,
  label.button.neutral {
    background-color: #909090; }
    button.neutral:hover,
    input[type=submit].neutral:hover,
    a.button.neutral:hover,
    div.button.neutral:hover,
    label.button.neutral:hover {
      background-color: #a6a6a6; }
    button.neutral:active,
    input[type=submit].neutral:active,
    a.button.neutral:active,
    div.button.neutral:active,
    label.button.neutral:active {
      background-color: #7a7a7a; }
  button.info,
  input[type=submit].info,
  a.button.info,
  div.button.info,
  label.button.info {
    background-color: #0776d8;
    color: #e9e9e9; }
    button.info:hover,
    input[type=submit].info:hover,
    a.button.info:hover,
    div.button.info:hover,
    label.button.info:hover {
      background-color: #0784f1; }
    button.info:active,
    input[type=submit].info:active,
    a.button.info:active,
    div.button.info:active,
    label.button.info:active {
      background-color: #0669c0; }
  button.info-2,
  input[type=submit].info-2,
  a.button.info-2,
  div.button.info-2,
  label.button.info-2 {
    background-color: #35845e;
    color: #e9e9e9; }
    button.info-2:hover,
    input[type=submit].info-2:hover,
    a.button.info-2:hover,
    div.button.info-2:hover,
    label.button.info-2:hover {
      background-color: #3c976b; }
    button.info-2:active,
    input[type=submit].info-2:active,
    a.button.info-2:active,
    div.button.info-2:active,
    label.button.info-2:active {
      background-color: #2d7251; }
  button.warn,
  input[type=submit].warn,
  a.button.warn,
  div.button.warn,
  label.button.warn {
    background-color: #b77f00;
    color: #e9e9e9; }
    button.warn:hover,
    input[type=submit].warn:hover,
    a.button.warn:hover,
    div.button.warn:hover,
    label.button.warn:hover {
      background-color: #d19100; }
    button.warn:active,
    input[type=submit].warn:active,
    a.button.warn:active,
    div.button.warn:active,
    label.button.warn:active {
      background-color: #9e6d00; }
  button.error,
  input[type=submit].error,
  a.button.error,
  div.button.error,
  label.button.error {
    background-color: #ff4022; }
    button.error:hover,
    input[type=submit].error:hover,
    a.button.error:hover,
    div.button.error:hover,
    label.button.error:hover {
      background-color: #ff563c; }
    button.error:active,
    input[type=submit].error:active,
    a.button.error:active,
    div.button.error:active,
    label.button.error:active {
      background-color: #ff2a09; }
  button.disabled,
  input[type=submit].disabled,
  a.button.disabled,
  div.button.disabled,
  label.button.disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    opacity: 0.3; }

#page {
  display: block;
  overflow: hidden;
  *overflow: visible;
  *zoom: 1;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: #212121 0 0 20px;
  -moz-box-shadow: #212121 0 0 20px;
  box-shadow: #212121 0 0 20px; }

#header {
  background-color: #7dc0fb;
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: #212121 0px 0.5px 10px;
  -moz-box-shadow: #212121 0px 0.5px 10px;
  box-shadow: #212121 0px 0.5px 10px; }

#overlay {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(33, 33, 33, 0.5);
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }

.dialog-container {
  display: block;
  position: relative;
  top: 20px;
  margin: 0 auto;
  z-index: 10100;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 500ms;
  -moz-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }

.dialog-inner {
  padding: 15px; }

.dialog {
  background-color: #ffffff;
  -webkit-box-shadow: #212121 3.33333px 3.33333px 20px;
  -moz-box-shadow: #212121 3.33333px 3.33333px 20px;
  box-shadow: #212121 3.33333px 3.33333px 20px; }
  .dialog .close-x {
    font-size: 40px;
    position: absolute;
    right: 40px;
    top: 15px;
    cursor: pointer; }

.carousel-window {
  position: relative;
  width: 100%;
  height: 100%; }

.carousel-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition-property: left;
  transition-duration: 1s;
  top: 0; }

@media screen and (min-width: 481px), screen and (max-height: 481px) and (orientation: landscape) {
  /* form input fixes */
  /* form input fixes */
  h1 {
    font-size: 39.6px; }
  h2 {
    font-size: 32.4px; }
  h3 {
    font-size: 27px; }
  body, h4, p {
    font-size: 18px; }
  h5 {
    font-size: 16.2px; }
  h6 {
    font-size: 13.5px; }
  #page {
    max-width: 441px;
    margin: 0 auto;
    -webkit-box-shadow: #212121 0 0 40px;
    -moz-box-shadow: #212121 0 0 40px;
    box-shadow: #212121 0 0 40px; }
  #header .inner {
    padding: 10px; }
  .dialog-container {
    width: 50%; }
  button,
  input[type=submit],
  a.button,
  div.button,
  label.button {
    font-size: 18px; }
  .input,
  input[type=text],
  input[type=password],
  input[type=email],
  textarea {
    font-size: 18px; }
  .inner {
    padding: 20px;
    display: block;
    overflow: hidden;
    *overflow: visible;
    *zoom: 1; }
  .spacer {
    width: 20px;
    height: 20px; }
  .m-row {
    float: left;
    width: auto; }
  .t-row {
    width: 100%;
    display: block;
    overflow: hidden;
    *overflow: visible;
    *zoom: 1; }
  .m-hidden {
    display: block; }
  .d-hidden {
    display: block; }
  .t-hidden {
    display: none; }
  .t-unit {
    float: left; }
  .t-unit-right {
    float: right; }
  .t-size-1-1 {
    width: 100%; }
  .t-size-1-2 {
    width: 50%; }
  .t-size-1-3 {
    width: 33.33333%; }
  .t-size-1-4 {
    width: 25%; }
  .t-size-1-5 {
    width: 20%; }
  .t-size-2-3 {
    width: 66.66666%; }
  .t-size-2-5 {
    width: 40%; }
  .t-size-3-4 {
    width: 75%; }
  .t-size-3-5 {
    width: 60%; }
  .t-size-4-5 {
    width: 80%; }
  .right {
    float: right; } }

@media screen and (min-width: 640px), screen and (min-height: 640px) and (orientation: landscape) {
  /* form input fixes */
  /* form input fixes */
  h1 {
    font-size: 35.2px; }
  h2 {
    font-size: 28.8px; }
  h3 {
    font-size: 24px; }
  body, h4, p {
    font-size: 16px; }
  h5 {
    font-size: 14.4px; }
  h6 {
    font-size: 12px; }
  #page {
    max-width: 704px;
    -webkit-box-shadow: #212121 0 0 50px;
    -moz-box-shadow: #212121 0 0 50px;
    box-shadow: #212121 0 0 50px; }
  #header .inner {
    padding: 10px; }
  button,
  input[type=submit],
  a.button,
  div.button,
  label.button {
    font-size: 16px; }
  .input,
  input[type=text],
  input[type=password],
  input[type=email],
  textarea {
    font-size: 16px; }
  .inner {
    padding: 25px;
    display: block;
    overflow: hidden;
    *overflow: visible;
    *zoom: 1; }
  .spacer {
    width: 25px;
    height: 25px; }
  .m-hidden {
    display: block; }
  .t-hidden {
    display: block; }
  .d-hidden {
    display: none; }
  .m-row {
    float: left;
    width: auto; }
  .t-row {
    float: left;
    width: auto; }
  .d-row {
    width: 100%;
    display: block;
    overflow: hidden;
    *overflow: visible;
    *zoom: 1; }
  .d-unit {
    float: left; }
  .d-unit-right {
    float: right; }
  .d-size-1-1 {
    width: 100%; }
  .d-size-1-2 {
    width: 50%; }
  .d-size-1-3 {
    width: 33.33333%; }
  .d-size-1-4 {
    width: 25%; }
  .d-size-1-5 {
    width: 20%; }
  .d-size-2-3 {
    width: 66.66666%; }
  .d-size-2-5 {
    width: 40%; }
  .d-size-3-4 {
    width: 75%; }
  .d-size-3-5 {
    width: 60%; }
  .d-size-4-5 {
    width: 80%; }
  .right {
    float: right; } }

img {
  display: block; }

html {
  background-color: #02bfe7; }

header, footer {
  color: #112e51; }

header {
  line-height: 1; }
  header h1, header h2, header h3, header h4, header h5, header h6, header p {
    padding-bottom: 0; }

footer .our-logo {
  width: 33.333333%;
  max-width: 240px; }

footer .tts-logo {
  width: 100%; }

header .inner {
  padding: 0.5rem 1rem; }

.usa-pride-banner {
  font-size: 14px;
  color: white;
  background-color: #205493; }
  .usa-pride-banner img {
    padding-top: 3px; }
  .usa-pride-banner .spacer {
    width: 1.5rem;
    height: 1rem; }

.site-title {
  font-family: "Merriweather", "Georgia", serif;
  line-height: 1.25; }
  .site-title a {
    font-size: 2rem;
    color: #112e51; }
    .site-title a:hover {
      text-decoration: none; }
  .site-title .site-description {
    line-height: 1.5;
    margin-top: 0.75rem; }

.page {
  background-color: white; }
