<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FAR Annotations</title>
    <meta charset="utf-8">

    <link rel='stylesheet' href='/css/site.css'>
    <script src='/js/site.js'></script>

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,700" rel="stylesheet">

    <link rel="icon" type="image/png" href="/images/favicons/favicon.png">

    <meta name="viewport" content="initial-scale=1">

    <meta property="og:title"       content="FAR Annotations">
    <meta property="og:site_name"   content="FAR Annotations">
    <meta property="description"    content="Annotations prototype for Federal Acquisition Regulations">
    <meta property="og:description" content="Annotations prototype for Federal Acquisition Regulations">
  </head>
  <body class='{{controller_namespace}}'>
    <header role="banner" class='row'>
      <div class='usa-pride-banner' class='row'>
        <div class='inner'>
          <div class='unit usa-flag-icon'>
            <img src="/images/us_flag_small.png" alt="U.S. flag">
          </div>
          <div class='unit spacer'></div>
          <p class='unit'>
            An official website of the United States government
          </p>
        </div>
      </div>
      <div class='site-title row'>
        <div class='inner'>
          <div class='row'>
            <a href="/">FAR Annotations</a>
          </div>
          <div class='row site-description'>
            A prototype for sharing your understanding of <br class='d-hidden'>Federal Acquisition Regulations
          </div>
        </div>
      </div>
    </header>

    <div class='page row'>
      <div class='inner'>
        {{> page}}
      </div>
    </div>

    <footer class='row' role='banner'>
      <div class='unit our-logo'>
        <div class='inner'>
          <img src='/images/tts-square.png' alt='tts logo' class='tts-logo'>
        </div>
      </div>
      <div class='last-unit'>
        <div class='inner'>
          <div class='row spacer t-hidden m-hidden'></div>
          <p>
            The Annotations FAR project is a prototype of Technology Transformation Service at the General Services Administration. This is source code is dedicated to the public domain under a CC0 license.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
