<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The reckoning - a bit of custom accounting help</title>
    <meta charset="utf-8">

    <link rel='stylesheet' href='/css/site.css'>
    <script src='/js/site.js'></script>

    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,700" rel="stylesheet">

    <link rel="icon" type="image/png" href="/images/favicons/favicon.png">

    <meta name="viewport" content="initial-scale=1">

    <meta property="og:title"       content="The reckoning - a bit of custom accounting help">
    <meta property="og:site_name"   content="The reckoning - a bit of custom accounting help">
    <meta property="description"    content="The reckoning is an accounting reconciliation helper tool for some folks in TTS">
    <meta property="og:description" content="The reckoning is an accounting reconciliation helper tool for some folks in TTS">
  </head>
  <body class='{{controller_namespace}}'>
    <header role="banner" class='row'>
      <div class='usa-pride-banner row'>
        <div class='inner content'>
          <div class='unit usa-flag-icon'>
            <img src="/images/us_flag_small.png" alt="U.S. flag">
          </div>
          <div class='unit spacer'></div>
          <p class='last-unit'>
            An official website of the United States government
          </p>
        </div>
      </div>
      <div class='site-title row'>
        <div class='inner content'>
          <div class='unit'>
            <a href="/">The reckoning</a>
          </div>
          <div class='unit spacer'></div>
          <div class='last-unit m-row site-description'>
            a bit of custom accounting help to get us by
          </div>
        </div>
      </div>
    </header>

    <div class='page row'>
      <div class='inner content'>
        {{#flash.error}}
        <div class='row flash error'>
          <p class='inner border'>{{.}}</p>
        </div>
        {{/flash.error}}

        {{#flash.notice}}
        <div class='row flash notice'>
          <p class='inner border'>{{.}}</p>
        </div>
        {{/flash.notice}}

        {{> page}}
      </div>
    </div>

    <footer class='row content' role='banner'>
      <div class='unit our-logo'>
        <div class='inner'>
          <img src='/images/tts-square.png' alt='tts logo' class='tts-logo'>
        </div>
      </div>
      <div class='last-unit'>
        <div class='inner'>
          <div class='row spacer t-hidden m-hidden'></div>
          <p>
            The reckoning is a stop gap measure to help TTS accounting folks spend their time more effectively.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
